<div id="<%= dom_id expense %>">
  <div>
    <strong>Nom:</strong>
    <%= expense.nom %>
  </div>

  <div>
    <strong>Montant:</strong>
    <%= expense.montant %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= expense.date %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= expense.category.nom %>
  </div>

</div>
